---
layout: work
title: BLACK WINGS
copy: 黒き翼 戦の夜を切り裂いて――
description: METALITY UNITED 2nd Single BLACK WINGS
imageUrl: /images/work/BLACKWINGS.webp
titleClass: music-title-blackwing
youtube: https://www.youtube.com/embed/QLmD760H7RQ
booth:
  - url: https://3900senri.booth.pm/items/5689292
    text: CD版
  - url: https://3900senri.booth.pm/items/5689205
    text: ダウンロード版
tracks:
  - "01. BLACK WINGS"
  - "02. BLACK WINGS (Instrumental)"
credits:
  - role: 作曲
    name: niu
  - role: 編曲
    name: niu
  - role: 作詞
    name: SINTONE
  - role: Vocal
    name: 成瀬センリ
  - role: Guitar
    name: あるせ
  - role: Guest Guitarist
    name: まーぼー
  - role: Bass
    name: SINTONE
  - role: Drums
    name: 頬白ギンコ
  - role: Orchestration
    name: niu
  - role: Mixing＆Mastering
    name: あるせ
  - role: Illustrator
    name: 蒼井衣都
  - role: Jacket design
    name: 成瀬センリ
---
<div class="booth" id="booth">
  <h2>BOOTH</h2>
  <ul>
    {% for item in page.booth %}
    <li>
      <a href="{{ item.url }}">{{ item.text }}</a>
    </li>
    {% endfor %}
  </ul>

  <div>
    <br>
    <h3>【CD版限定先着特典】</h3>
    ジャケットイラストのアナザーカラー版を使用！<br>
    ホロ加工を施された紙コースターをプレゼント！<br>
    （数量限定につきなくなり次第終了します）<br>
  </div>
</div>

<div class="track" id="track">
  <h2>Track</h2>
  <div class="track-flex">
    <div class="track-list">
      <ul>
        {% for track in page.tracks %}
        <li>{{ track }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="position">
      <table>
        {% for credit in page.credits %}
        <tr>
          <td>{{ credit.role }}</td>
          <td>{{ credit.name }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
