---
layout: work
title: DIVINE PUNISHMENT
copy: 噛み締めよ、神罰の味を
description: METALITY UNITED 3rd Single DIVINE PUNISHMENT
imageUrl: /images/work/DIVINEPUNISHMENT.webp
titleClass: music-title-blackwing
youtube: https://www.youtube.com/embed/BB9sgjKDr4w?si=-iHLOnkqL0pIodqk
booth:
  - url: https://3900senri.booth.pm/items/6857591
    text: CD版
  - url: https://3900senri.booth.pm/items/6848863
    text: ダウンロード版
tracks:
  - Divine Punishments
  - Divine Punishments (Instrumental)
credits:
  - role: Vocal/DesignWorks
    name: 成瀬センリ
  - role: Scream/Guitar/Mixing/Mastering
    name: あるせ
  - role: Music/Lyric/Bass
    name: SINTONE
  - role: Drums
    name: 頬白ギンコ
  - role: Orchestration
    name: niu
guests:
  - role: Guest Guitar
    name: ももぬーん
  - role: Illustration
    name: 蒼井衣都
---
<div class="booth" id="booth">
  <h2>BOOTH</h2>
  <ul>
    {% for item in page.booth %}
    <li>
      <a href="{{ item.url }}">{{ item.text }}</a>
    </li>
    {% endfor %}
  </ul>

  <div>
    <br>
    <h3>◆BOOTH DL版限定特典◆</h3>
    「クリーンボイスのみ」<br>
    「スクリームボイスのみ」のカラオケ音源<br>
  </div>
</div>

<div class="track" id="track">
  <h2>Track</h2>
  <div class="track-flex">
    <div class="track-list">
      <ol>
        {% for track in page.tracks %}
        <li>{{ forloop.index }}. {{ track }}</li>
        {% endfor %}
      </ol>
    </div>

    <div class="position">
      <table>
        {% for credit in page.credits %}
        <tr>
          <td>{{ credit.role }}</td>
          <td>{{ credit.name }}</td>
        </tr>
        {% endfor %}
        <tr></tr>
        {% for guest in page.guests %}
        <tr>
          <td>{{ guest.role }}</td>
          <td>{{ guest.name }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
