---
layout: work
title: LOST BLESSING
copy: 祝福は悲劇の輪廻を生み、絶望の業火が魂を焦がす――
description: METALITY UNITED 1st EP LOST BLESSING
imageUrl: /images/work/LOSTBLESSING.webp
titleClass: music-title-lostblessing
youtube: https://www.youtube.com/embed/EeEPwV6ucog?si=uB6dNOyrtWTtqgJH
tracks:
  - "01.Blessing(SE)"
  - "02.Saint Catastrophe"
  - "03.March of Black Rebellion"
  - "04.Saint Catastrophe(Inst)"
  - "05.March of Black Rebellion(Inst)"
credits:
  - role: 作曲
    name: "niu(M1、M2) / SINTONE(M3)"
  - role: 編曲
    name: "niu(M2、M3) / SINTONE(M3)"
  - role: 作詞
    name: "成瀬センリ(M2、M3) / SINTONE(M3)"
  - role: Vocal
    name: 成瀬センリ
  - role: Guitar
    name: あるせ
  - role: Bass
    name: SINTONE
  - role: Drums
    name: 頬白ギンコ
  - role: Mixing＆Mastering
    name: jeje
  - role: Illustrator
    name: Si+ON
  - role: Jacket design
    name: 成瀬センリ
---
<div class="booth" id="booth">
  <h2>BOOTH</h2>
  <a href="https://3900senri.booth.pm/items/4273335">https://3900senri.booth.pm/items/4273335</a>

  <div>
    <br>
    ＜BOOTH版限定特典＞<br>
    １）ジャケット・帯・インレイ画像（原寸）<br>
    ２）歌詞カード画像（原寸）<br>
    ３）全曲のwavファイル<br>
    ４）ギターマイナスワントラック<br>
    （マスタリング済みVoあり＆未マスタリングVoなし）<br>
    ５）ベースマイナスワントラック<br>
    （マスタリング済みVoあり＆未マスタリングVoなし<br><br>

    <a href="https://nodee.net/a/5p7davcf">サブスク配信中 https://nodee.net/a/5p7davcf</a>
  </div>
</div>

<div class="track" id="track">
  <h2>Track</h2>
  <div class="track-flex">
    <div class="track-list">
      <ul>
        {% for track in page.tracks %}
        <li>{{ track }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="position">
      <table>
        {% for credit in page.credits %}
        <tr>
          <td>{{ credit.role }}</td>
          <td>{{ credit.name }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
