<div class="header" id="top">
  <!-- ロゴ -->
  <div class="header-logo">
    <a href="/">
      <img src="/images/logo.png" alt="METALITY UNITED トップページ" />
    </a>
  </div>
  <!-- PCナビゲーション -->
  <div class="pc-nav">
    <ul class="pc-nav-list">
      <li><a href="/#news">News</a></li>
      <li><a href="/#release">Release</a></li>
      <li><a href="/#band">Band</a></li>
      <li><a href="https://forms.gle/JSjHXPXwSD7tEskF6" target="_blank">Contact</a></li>
      <li><a href="https://twitter.com/metality_united" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-x-twitter"></i></a>
      </li>
    </ul>
  </div>
  <!-- SPナビゲーション -->
  <div class="sp-nav">
    <input type="checkbox" name="hamburger" id="hamburger" class="hamburger-menu-checkbox" />
    <label for="hamburger">
      <div id="nav-button" class="nav-button"><i class="fas fa-bars" aria-label="menu"></i></div>
    </label>

    <div class="hamburger-menu-contents">
      <ul class="sp-nav-list">
        <li><a href="/#news">News</a></li>
        <li><a href="/#release">Release</a></li>
        <li><a href="/#band">Band</a></li>
        <li><a href="https://forms.gle/JSjHXPXwSD7tEskF6" target="_blank">Contact</a></li>
        <li><a href="https://twitter.com/metality_united" target="_blank" rel="noopener noreferrer"><i
              class="fa-brands fa-x-twitter"></i></a>
        </li>
      </ul>
    </div>
  </div>

</div>
