<!DOCTYPE html>
<html lang="ja" prefix="og:http://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#000">
  <meta name="description" content="{{ page.description }}">
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://metality.band{{ page.url }}" />
  <meta property="og:image" content="https://metality.band/images/logo-band-ogp.png" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:site_name" content="METALITY UNITED" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@metality_united" />

  <link rel="stylesheet" href="https://unpkg.com/destyle.css@3.0.2/destyle.min.css">
  <script src="https://kit.fontawesome.com/d925e0b3e6.js" crossorigin="anonymous"></script>
  <link href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/post.css">
  <link rel="icon" href="/icon/favicon.ico">
  <link rel="icon" sizes="192x192" href="/icon/android-chrome-192x192.png">
</head>

<body>
  <!-- 背景 -->
  <div class="background">
    <div class="container">
      {% include header.html %}
    </div>

    <!-- ビジュアル・タイトル-->
    <div class="music">
      <div class="container">
        <div class="music-introduction">
          {% if page.image %}
          <div class="music-illustration">
            <img src="{{ page.image }}" />
          </div>
          {% endif %}
          <div class="music-title-blackwing">{{ page.title }}</div>
        </div>
      </div>
    </div>

    <article class="container">
      {{ content }}
    </article>

    <!-- フッター -->
    <footer class="footer">
      <i class="fa-regular fa-copyright"></i>
      METALITYUNITED 2024
    </footer>

  </div><!-- 背景ここまで -->
  {% include firebase_analytics.html %}
</body>

</html>
